*{

    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.753);
}

body, html {
    height: 100%;
    padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  }

hr{
    color: #000000;
    margin-bottom:10px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 320px;
}

/*h1*/
h1{
    color:white;
    font-weight: bold;
    padding-top: 5px;
    letter-spacing: .2px;
    padding-left: 7px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.hiddenH1{
    display:none;
}

.aboutH1{
    padding-top: 40px;
}

/*about.html*/


p{
  margin: 0;  
}

.contactText{
    color:rgba(0, 0, 0, 0.726);
}

.contactText.emphasis{
    color:rgba(0, 0, 0, 0.726);
}

.contactText.emphasis:hover{
    color:#ed4167;
    
}

.contactText.emphasis:after{
    background-color: #ed4167;
}

.contactHeading{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.726);
}

/*Mobile*/

#small-burger-logo{
    pointer-events: none;
}

.offcanvas-title{
    font-weight: bold;
    font-size: 1.5em!important;
}

#burger {
    background-color: #ed4167;
    border-width: .2em;
    width: 70%;
}

.offcanvas-links{
    padding-top:2px;
    padding-left:6px;
    padding-right:6px;
    border: 2px solid;
    border-radius: 10px;
}

.burger-text {
    color:rgba(0, 0, 0, 0.726)
}

#mobileVersion{
    font-size: 10px;
}

#mobileLogo{
    padding-bottom: 0;
    margin-bottom: 0;
}

#mobileLanguageButtonOne{
    padding-top:2px;
    padding-left:6px;
    padding-right:6px;
    border: 2px solid;
    border-radius: 10px;
}

#mobileLanguageButtonTwo{
    padding-top:2px;
    padding-left:6px;
    padding-right:6px;
    border: 2px solid;
    border-radius: 10px;
}


/*Socials*/

#socials{
    text-align: center;
}

.svgSocials {
    fill:#FBD5D9;
    transition:all .3s linear;-webkit-transition:all .3s linear;-moz-transition:all .3s linear   
}


.svgSocials:hover{
    fill:white;
    transform:translateY(10px) scale(1.1);position:relative;z-index:9
}

/*Text*/

#seperator{
    font-size:1.5em;
    font-weight: bold;
}

a:hover{
    color: white;
}

a{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.753);
    text-decoration: none;
}

#versionHistory{
    font-size: .8em;
    text-align: center;
    margin-top: 1em;
}

/*Accordion*/

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

.emphasis{
    color:#ed4167;
    font-family: 'Roboto',sans-serif;
    display: inline-block;
}

.emphasis:hover{
    color: #FFB980;
}

.emphasis:after{

    content: '';
    display: block;
    height: 2px;
    background-color: #FFB980;
    transform: scaleX(0);
    transition: transform ease .3s;
}

.emphasis:hover::after {
    transform: scaleX(1);
  }

.panel-clr {
    color: rgba(0, 0, 0, 0.733);
} 
    
.panel-clr.on{
    color: black;
    outline: none;
    background-color:#ef52642c;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ed4167'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

.accordion-collapse .collapse {
    background-color: #ef52642c;
}


.accordion-body{
    color:rgba(0, 0, 0, 0.733);
    font-family: 'Roboto',sans-serif;
}

#firstCollapseButton:hover {
    background-color: #ef52642c;
}

#firstCollapseButton{
    font-size: 20px;
}

#secondCollapseButton:hover {
    background-color: #ef52642c;
}

#secondCollapseButton{
    font-size: 20px;
}  

#thirdCollapseButton:hover {
    background-color: #ef52642c;
}

#thirdCollapseButton{
    font-size: 20px;
}

.carousel-description {
    margin-bottom: -100px
}

#projects-mobile{
    font-size: 1.5em;
    font-weight: bold;
}

#mobile-description-body{
    font-size: 1.3em;
    color: #FAFAFA;
}


/*Hover Animations*/

.div-side {
    display: inline-block;
  }
  
  .div-side::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform ease .3s;
  }
  
  .div-side:hover::after {
    transform: scaleX(1);
  }


.image-block{
    transition:all .3s linear;-webkit-transition:all .3s linear;-moz-transition:all .3s linear
}
.image-block:hover{
    transform:translateY(10px) scale(1.1);position:relative;z-index:9
}
.image-block img{
    width:100%;border:solid 5px #fff;
}
  

/*Animated Gradient Background*/

#background {
    height: 100%;
	background: linear-gradient(-15deg, #f5bc54, #ed4167, #f5bc54);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wip{
    cursor:wait;
}

/*Headline Anim*/

.prefixAnim {
    padding:0;
    font: normal 40px/50px 'Roboto', sans-serif;
    color: #999;
  }
  .prefixAnim p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .prefixAnim b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 0px;
  }
  .prefixAnim .subjectAnim {
    display: inline-block;
    color: #ffffff;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    animation-fill-mode: forwards;
  
  
  
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;

  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;

  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }



  /*DYNAMIC*/

  .unhighlighted-project {
    border: solid; 
    background-color: #FBD5D9; 
    border-width: .3em; 
    border-radius: 2em; 
    border-color: #FBD5D9;
  }


  .highlighted-project {
    border: solid; 
    background-color: #FAFAFA; 
    border-width: .3em; 
    border-radius: 2em; 
    border-color: #FAFAFA;
  }

  .arrow:hover {
    cursor: pointer;
    
  }

  .arrow:hover > #arrow-box > #arrow-svg{
      fill: #FAFAFA!important
  }


  #description-body {
    color: #FAFAFA!important;
    font-size: 1.5em;
}

  .fade-out {
      
    -webkit-animation: fadeout 1s; 
    -moz-animation: fadeout 1s; 
     -ms-animation: fadeout 1s; 
      -o-animation: fadeout 1s; 
         animation: fadeout 1s;
  }

  .fade-in {
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadein 1s; 
     -ms-animation: fadein 1s; 
      -o-animation: fadein 1s; 
         animation: fadein 1s;
  }

  .invisible {
      display: none;
  }

  .visible {
    display: block;
  }


#headline-0, #headline-1, #headline-2, #headline-3 {
    color: #FAFAFA!important;
}


#project-modal-content {
    background-color: transparent;
    border: none;
}

#rotate-modal{
    background-color: black;
}

#rotate-modal-content {
    background-color: black;
    border: none;
}


#next-proj-showcase-btn{
    border: solid 1px #c34545;
}

.modal-backdrop
{
    opacity: 0.7 !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* @media screen and (max-height: 760px){
    #headline-container{
        display: none!important;
    }
} */

@media screen and (max-height: 400px){
    #top-row, #headline-container, #bottom-row{
        display: none!important;
    }
}


@media screen and (max-height: 700px){
    #top-row{
        display: none!important;
    }
}

