
body{
    background-color: #98C3D8;
}


h1{
    overflow: hidden;
    transform: rotate(3deg);
    line-height: .72em;
    font-weight: bold;
    font-size: 9em;
}

#title{
    size: auto;
    padding:0;
    width: auto;
}

#langswtch{
    align-self: center;
}

#dropdown{
    position: relative;
    margin-left: 100px;
}