*{

    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.753);
}

body, html {
    height: 100%;
  }



h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 7em;
}



/*Text*/

#seperator{
    font-size:1.5em;
    font-weight: bold;
}

a:hover{
    color: white;
}

a{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.753);
    text-decoration: none;
}


/*Accordion*/

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ed4167'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

#firstCollapseButton:hover {
    background-color: #ed416628;
}

#firstCollapseButton{
    font-size: 20px;
}

#secondCollapseButton:hover {
    background-color: #f2855e1f;
}

#secondCollapseButton{
    font-size: 20px;
}  

#thirdCollapseButton:hover {
    background-color: #f5bd5436;
}

#thirdCollapseButton{
    font-size: 20px;
}

/*Hover Animations*/
.div-side {
    display: inline-block;
  }
  
  .div-side::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform ease .3s;
  }
  
  .div-side:hover::after {
    transform: scaleX(1);
  }


.image-block{
    transition:all .3s linear;-webkit-transition:all .3s linear;-moz-transition:all .3s linear
}
.image-block:hover{
    transform:translateY(10px) scale(1.1);position:relative;z-index:9
}
.image-block img{
    width:100%;border:solid 5px #fff;
}
  

/*Animated Gradient Background*/

#background {
    height: 100%;
	background: linear-gradient(-15deg, #f5bc54, #ed4167, #f5bc54);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*Headline Anim*/


.prefixAnim {
    padding:0;
    font: normal 40px/50px 'Roboto', sans-serif;
    color: #999;
  }
  .prefixAnim p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .prefixAnim b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 0px;
  }
  .prefixAnim .subjectAnim {
    display: inline-block;
    color: #ffffff;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }